.completed {
	text-decoration: line-through;
}

button {
	margin: 0 10px;
}

input[type ="checkbox"] {
	margin-right: 10px;
}

li {
	list-style: none;
	text-align: left;
}

body {
	text-align: center;
}
